{% extends "layout.html" %}

{% block content %}
<!-- Server Stuff -->
<script type="text/javascript" src="{{ url_for('static', filename = 'lesson4.js') }}"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <div class="lessonTitle">
                Lesson 4 - Quantifiers  
            </div>

            <br>
            <div class="bodyText">
                Quantifiers are indicated by curly braces, 
                and are used to specify how many repititions of a character are desired. 
                For example, “a{5}” will match the string "aaaaa".  
                A range of repititions can be specified by putting two numbers seperated by a comma inside the curly braces. 
                For example, “b{3,5}” will match "b" at least 3 times and at most 5 times. Thus, it will match "bbb", "bbbb", and "bbbbb". 
                Quantifiers can be used with metacharacters as well; ".{2,4}" will match between 2 and 4 of any character, and "[abc]{3}"
                will match 3 characters, each of which can be a, b, or c.
                
                
                <br><br>
                <div class="row tab" >
                    <div class="col-md-2" style="color: gray;">
                        Pattern
                    </div>
                    <div class="col-md-1">                       
                    </div>
                    <div class="col-md-7" style="color: gray;">
                        Text
                    </div>
                </div>
                <hr style="width:70%; text-align:left; margin-left:100px; margin-top: 2px; margin-bottom: 0px;">
                
                <div class="row tab align-items-center" >
                    <div class="col-md-2">
                        "1{2,4}"
                    </div>
                    <div class="col-md-1">
                        <span style="font-size: 30px;">&#8658;</span>
                    </div>
                    <div class="col-md-7">
                        ...00<mark>11</mark>01000<mark>1111</mark>0101001010001010100<mark>111</mark>...
                    </div>
                </div>
                <div class="row tab align-items-center" >
                    <div class="col-md-2">
                        “[0-9]{8}”
                    </div>
                    <div class="col-md-1">
                        <span style="font-size: 30px;">&#8658;</span>
                    </div>
                    <div class="col-md-7">
                        FID: <mark>29384023</mark> - CID: 10027 - PIN: 3147
                    </div>
                </div>
                <div class="row tab align-items-center" >
                    <div id="examplePattern" class="col-md-2">
                        
                    </div>
                    <div class="col-md-1">
                        <span style="font-size: 30px;">&#8658;</span>
                    </div>
                    <div id="exampleText" class="col-md-8">
          
                    </div>
                </div>

                <br>
                To move onto the quiz, write a single regex pattern to match the first two
                strings but not the last two strings:
                <div class="card" style="max-width: 75%; font-size: 18px; margin-top: 10px">
                    <div class="card-header excercise1">
                        aabbcc
                    </div>
                </div>
                <div class="card" style="max-width: 75%; font-size: 18px; margin-top: 10px">
                    <div class="card-header excercise2">
                        aaaabbccc
                    </div>
                </div>
                <div class="card" style="max-width: 75%; font-size: 18px; margin-top: 10px">
                    <div class="card-header excercise3">
                        abc
                    </div>
                </div>
                <div class="card" style="max-width: 75%; font-size: 18px; margin-top: 10px">
                    <div class="card-header excercise4">
                        aaabbc
                    </div>
                </div>
            </div>

            
            
            <br>
            <div class="input-group mb-3" style="max-width: 75%; text-align: center; margin-top: -10px;">
                <input id="regexBox" type="text" class="form-control" placeholder="Type your regex pattern here" style="height: 50px;">
                <div class="input-group-append">
                    <a id="nextLesson" href="/lessonComplete" class="btn btn-success btn-lg disabled">Next lesson</a>
                </div>
            </div>

            <div id="solution">
                <div style="color:gray; font-size: 12px; cursor: pointer; margin-top: -10px; margin-left: 10px;">
                    View the solution
                </div> 
            </div>

              
        </div>

    </div>
</div>

{% endblock %}