{% extends "layout.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <div style="text-align: center; font-weight:700; font-size: 50px;">
                You've finished the lessons!
            </div>
            <br>

            <div style="text-align: center; font-size: 25px;">
                You can take the quiz now, or revisit any of the lessons
                to brush up first.
            </div>
            
            <br>

            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <div class="d-flex justify-content-between">
                        <a href="/lesson1" class="btn btn-outline-primary btn-lg">Lesson 1</a>
                        <a href="/lesson2" class="btn btn-outline-primary btn-lg">Lesson 2</a>
                        <a href="/lesson3" class="btn btn-outline-primary btn-lg">Lesson 3</a>
                        <a href="/lesson4" class="btn btn-outline-primary btn-lg">Lesson 4</a>
                    </div>
                </div>
            </div>

            

            <div class="centered">
                <br><br><br>
                <a href="/quiz1" class="btn btn-primary btn-lg">Take the quiz!</a>
            </div>
              
            
              
        </div>

    </div>
</div>

{% endblock %}