{% extends "layout.html" %}

{% block content %}
<!-- Server Stuff -->
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz4.js') }}"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <div class="lessonTitle">
                Quiz - Question 4
            </div>

            <br>
            <div class="bodyText">
                <div id="question">
                    Of the following binary numbers (2's complement), match the ones with a decimal value greater than or equal to 32 (00100000).
                    <br>In other words, match only the first three numbers, and do not match the last two. 
                </div>
                
                <br>
                <div class="card" style="max-width: 75%; font-size: 18px; margin-top: 10px">
                    <div class="card-body q1">
                        01111000	
                    </div>
                </div>
                <div class="card" style="max-width: 75%; font-size: 18px; margin-top: 10px">
                    <div class="card-body q2">
                        00100001	
                    </div>
                </div>
                <div class="card" style="max-width: 75%; font-size: 18px; margin-top: 10px">
                    <div class="card-body q3">
                        01101101	
                    </div>
                </div>
                <div class="card" style="max-width: 75%; font-size: 18px; margin-top: 10px">
                    <div class="card-body q4">
                        11111111		
                    </div>
                </div>
                <div class="card" style="max-width: 75%; font-size: 18px; margin-top: 10px">
                    <div class="card-body q5">
                        00011111		
                    </div>
                </div>
                
                
            </div>

            <br><br>
            <div class="input-group mb-3" style="max-width: 75%; text-align: center;">
                <input id="regexBox" type="text" class="form-control redBorder" placeholder="Type your regex pattern here" style="height: 50px;">
            </div>
            <div id="solution">
                <div style="color:gray; font-size: 12px; cursor: pointer; margin-top: -10px; margin-left: 10px;">
                    View the solution
                </div> 
            </div>

            <div style="text-align: right;">
                <a id="next" href="/quizComplete" class="btn btn-success btn-lg disabled">Next</a>
            </div>
              
        </div>

    </div>
</div>

{% endblock %}