{% extends "layout.html" %}

{% block content %}
<!-- Server Stuff -->
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz2.js') }}"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <div class="lessonTitle">
                Quiz - Question 2
            </div>

            <br>
            <div class="bodyText">
                <div id="question">
                    Which of the following regex patterns will match the string "AWXYZ6679"?
                </div>
                
                <br>
                <div class="card" style="max-width: 75%; font-size: 18px; margin-top: 10px">
                    <div class="card-body multipleChoice wrong">
                        [a-zA-Z0-9]{10}
                    </div>
                </div>
                <div class="card" style="max-width: 75%; font-size: 18px; margin-top: 10px">
                    <div class="card-body multipleChoice wrong">
                        [a-z]{5}[6-9]{4}
                    </div>
                </div>
                <div class="card" style="max-width: 75%; font-size: 18px; margin-top: 10px">
                    <div class="card-body multipleChoice correct">
                        [a-zA-Z]{1,5}[0-9]{1-5}
                    </div>
                </div>
                <div class="card" style="max-width: 75%; font-size: 18px; margin-top: 10px">
                    <div class="card-body multipleChoice wrong">
                        {A-Z}[5]{0-9}[4]
                    </div>
                </div>
            </div>

            
            
            <br>
            <div style="text-align: right;">
                <a id="next" href="/quiz3" class="btn btn-success btn-lg disabled">Next</a>
            </div>
              
        </div>

    </div>
</div>

{% endblock %}